/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color: lightgrey;
  
  -fx-text-fill: green;
}

.icon-button{
  -fx-min-width: 32;
  -fx-min-height: 32;
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat no-repeat;
  -fx-background-size: 28 28;
  -fx-background-position:center;
}



